body {
    background-color: #f5deb3; /* A light brown color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

#main-menu, #settings-page, #help-page, #about-page {
    text-align: center;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #8b4513; /* A darker brown color */
    color: white;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}


#game-container {
    display: flex;
    align-items: center;
}

#game-info {
    margin-right: 20px;
    text-align: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    border: 2px solid black;
}

.grid-cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.player1-row {
    background-color: #add8e6; /* Light blue */
}

.player2-row {
    background-color: #ffb6c1; /* Light red */
}

.player1-row.row-highlight {
    background-color: #87ceeb; /* Sky blue */
}

.player2-row.row-highlight {
    background-color: #ff99aa; /* Lighter red */
}
